
	<nav id="social-nav">
	  <ul class="social">
	    <li><a href="https://twitter.com/id" title="@id" class="ss-icon ss-social-circle tooltip">twitter</a></li>
	    <li><a href="https://github.com/iandundas" class="ss-icon ss-social-circle">octocat</a></li>
	    <li><a href="#" title="email: contact @ this domain name" id='contact-email' class="ss-icon ss-social-circle tooltip become-email">email</a></li>
	    <li><a href="http://open.spotify.com/user/innus" class="ss-icon ss-social-circle">spotify</a></li>
	    <!--
	    <li><a href="http://stackoverflow.com/users/349364/innus" class="ss-icon ss-social-circle">stackoverflow</a></li>
	    <li><a href="skype:ian.dundas1" class="ss-icon ss-social-circle">skype</a></li>
	    <li><a href="http://last.fm/user/innus" class="ss-icon ss-social-circle">lastfm</a></li>
	    <li><a href="http://instagram.com/ian_dundas" class="ss-icon ss-social-circle">instagram</a></li>
	    -->
	  </ul>
	</nav>

  <nav id="main-nav">
	  <ul class="menu">
	    <li><a href="{{ root_url }}/blog">Blog</a></li>
	    <li><a href="{{ root_url }}/about">About</a></li>
	    <!--<li><a href="{{ root_url }}/travels">Travels</a></li>-->
	    <li><a href="{{ root_url }}/work">Work</a></li>
	    <li><a href="{{ root_url }}/cv">C.V.</a></li>
	    <!--<li><a href="{{ root_url }}/work">Music</a></li>-->
	    <!--<li><a href="{{ root_url }}/vietnam">Vietnam</a></li>-->
	  </ul>
	</nav>