<!DOCTYPE HTML>
<html>
<head>

<!--        ___          ___
   ___         /  /\        /__/\
  /  /\       /  /::\       \  \:\
 /  /:/      /  /:/\:\       \  \:\
/__/::\     /  /:/~/::\  _____\__\:\
\__\/\:\__ /__/:/ /:/\:\/__/::::::::\
   \  \:\/\\  \:\/:/__\/\  \:\~~\~~\/
    \__\::/ \  \::/      \  \:\  ~~~
    /__/:/   \  \:\       \  \:\
    \__\/     \  \:\       \  \:\
               \__\/        \__\/
    _____         ___          ___         _____         ___          ___
   /  /::\       /__/\        /__/\       /  /::\       /  /\        /  /\
  /  /:/\:\      \  \:\       \  \:\     /  /:/\:\     /  /::\      /  /:/_
 /  /:/  \:\      \  \:\       \  \:\   /  /:/  \:\   /  /:/\:\    /  /:/ /\
/__/:/ \__\:| ___  \  \:\  _____\__\:\ /__/:/ \__\:| /  /:/~/::\  /  /:/ /::\
\  \:\ /  /://__/\  \__\:\/__/::::::::\\  \:\ /  /://__/:/ /:/\:\/__/:/ /:/\:\
 \  \:\  /:/ \  \:\ /  /:/\  \:\~~\~~\/ \  \:\  /:/ \  \:\/:/__\/\  \:\/:/~/:/
  \  \:\/:/   \  \:\  /:/  \  \:\  ~~~   \  \:\/:/   \  \::/      \  \::/ /:/
   \  \::/     \  \:\/:/    \  \:\        \  \::/     \  \:\       \__\/ /:/
    \__\/       \  \::/      \  \:\        \__\/       \  \:\        /__/:/
                 \__\/        \__\/                     \__\/        \__\/

      Let's all be splendid to one another
      01100001 01101100 01101100 00100000 01101001 01101110 
      00100000 01101101 01101111 01100100 01100101 01110010 
      01100001 01110100 01101001 01101111 01101110 -->

	<!-- <script data-cfasync="false" type="text/javascript" src="//use.typekit.net/axj3cfp.js"></script>
	<script data-cfasync="false" type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} {% else %}{{site.subtitle}} {% endif %} | {{ site.title }}</title>

<meta name="author" content="{{ site.author }}"> 
{% capture description %}{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{%else%}{{ content | raw_content }}{% endif %}{% endcapture %}
<meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}"> {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{%else%}<meta name="keywords" content="{{ site.keywords }}">{% endif %}

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
	<link rel="canonical" href="{{ canonical }}">
	<link href="{{ root_url }}/images/hurray_flower.png" rel="shortcut icon" type="image/png">
  <link href="{{ root_url }}/stylesheets/ss-social-regular.css" rel="stylesheet" />
  <link href="{{ root_url }}/stylesheets/jquery.qtip.min.css" rel="stylesheet" />
  <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	{% include custom/fancybox_head.html %}
	{% include custom/head.html %}
</head>